* {
    box-sizing: border-box;
 }
 
 :root {
    --background: white;
 
    --primary: red;
    --secondary: #1effc3;
    
    --card-size: 300px;
 }
 
 body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: var(--background);
    font-family: 'Source Code Pro', monospace;
    
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }
 
 .card { 
    width: calc(var(--card-size) * 3);
    height: calc(var(--card-size)*1.5);
    
    border-radius: 0.75rem;
    box-shadow:  0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    
    background: black;
    
    display: grid;
    grid-template-columns: 40% auto;
    color: white;
    
    align-items: center;
    
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
    
    &:hover {
       transform: scale(1.1);
       box-shadow:  0 32px 80px 14px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
    }
 }
 
 .card-details {
    padding: 1rem;
 }
 
 .name {
    font-size: 1.25rem;
 }
 
 .occupation {
    font-weight: 600;
    color: var(--primary);
 }
 
 .card-avatar {
    display: grid;
    place-items: center;
 }
 
 svg {
    fill: white;
    width: 65%;
 }
 
 .card-about {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
 }
 
 .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    
    .value {
       font-size: 1rem;
    }
    
    .label {
       margin-top: 0.15rem;
       font-size: 0.75rem;
       font-weight: 600;
       color: var(--primary);
    }
 }
 
 .skills {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    
    .label {
       font-size: 1rem;
       font-weight: 600;
       color: var(--primary);
    }
    
    .value {
       margin-top: 0.15rem;
       font-size: 0.75rem;
       line-height: 1.25rem;
    }
 }
 /* Social Link */
 .main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 1rem;
    gap: 2.5rem;
    margin-bottom: 0.5rem;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-decoration: none;
  }
  .nav-link-text {
    font-size: 0.675rem;
    line-height: 1.25rem;
    font-weight: 550;
    text-align: center;
    font-family: inherit;
    color: #eee !important;
  }
  
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  
  .nav-links {
    color: var(--primary);
    background-color: rgb(21 22 23);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    &:hover {
      background-color: var(--primary);
      color: white !important;
      transform: scaleX(1.1) scaleY(1.1);
    }
  }
  
.nav-links i{
    font-size: 30px;
}